***Pandas Import***

In [16]:
import pandas as pd

---
***Machine Learning Import***

In [19]:
# 훈련 데이터와 테스트 데이터를 나누기 위한 라이브러리
from sklearn.model_selection import train_test_split

# 의사결정트리 [ Decision Tree ]
from sklearn.tree import DecisionTreeClassifier

# 랜덤포레스트 [ Random Forest ] 
from sklearn.ensemble import RandomForestClassifier

# 서포트벡터머신 [ Support Vector Machine ]
from sklearn.svm import SVC

# 로지스틱 회귀 [ Logistic Regression ]
from sklearn.linear_model import LogisticRegression

# K-최근접 이웃 [ K-Nearest Neighbor ]
from sklearn.neighbors import KNeighborsClassifier
# KNN에 스케일링을 적용하기 위한 스케일러
from sklearn.preprocessing import StandardScaler

# 학습시킨 모델의 성능 확인
from sklearn.metrics import accuracy_score

---
***pandas 데이터 불러오기***

In [21]:
############################  CSV  ############################
DEFAULT_DATA_FILE_PATH = "C:/Users/admin/Desktop/Homework/AI/AI_Class/Week 2/Data/"

def getFilePath(str) :
    return DEFAULT_DATA_FILE_PATH + str

# iris.csv
file_path = getFilePath("iris.csv")

# mobile.csv
# file_path = getFilePath("mobile.csv")

# combined_dataset-1.xlsx
# file_path = getFilePath("combined_dataset-1.xlsx")

# diabetes.csv
# file_path = getFilePath("diabetes.csv")

# titanic.csv
# file_path = getFilePath("titanic.csv")

############################  URL  ############################
def getValidUrl(str) :
    return str + "?raw=true"
    
# iris.csv
# file_path = getValidUrl("https://github.com/MyungKyuYi/AI-class/blob/main/iris.csv")

# mobile.csv
# file_path = getValidUrl("https://github.com/MyungKyuYi/AI-class/blob/main/mobile.csv")

# combined_dataset-1.xlsx
# file_path = getValidUrl("https://github.com/MyungKyuYi/AI-class/blob/main/combined_dataset-1.xlsx)

# diabetes.csv
# file_path = getValidUrl("https://github.com/MyungKyuYi/AI-class/blob/main/diabetes.csv)

# titanic.csv
# file_path = getValidUrl("https://github.com/MyungKyuYi/AI-class/blob/main/titanic.csv")

############################  READ  ############################
# csv 파일인 경우
df = pd.read_csv(file_path)

# excel 파일인 경우
# df = pd.read_excel(file_path)

# 데이터프레임 확인
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [22]:
X = df.drop('Name', axis=1)
y = df['Name']

print(X)
print(y)

random =  42

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=random)

     SepalLength  SepalWidth  PetalLength  PetalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Name, Length: 150, dtype: object

---
***모델 기본 작동 순서***
- ***fit(*** X 학습 데이터, Y 학습 데이터 ***)***
- ***predict*** => return X_test에 대한 Y 예측
- ***accuracy_score(lib)*** => Y 테스트 데이터와 Y 예측 데이터를 비교하여 성능 측정

In [187]:
def learn_something(model, xTrain, yTrain, xTest, yTest) :
    model.fit(xTrain, yTrain)
    y_pred = model.predict(xTest)
    accuracy = accuracy_score(yTest, y_pred)
    print(f"{model.__class__.__name__} : {accuracy}")
    return y_pred

---
***StandardScaler*** => 특성( Feature )의 값을 변환하는 라이브러리

스케일링 방법 
- 평균을 0, 표준편차를 1로 만듦 => 분포의 중심을 (0, 0)으로 설정
- 값의 범위를 정함
- ...

StandardScaler는 첫 번째 방법을 사용
- ***fit(X)*** => return StandardScaler()    학습된 스케일러 반환
- ***transform(X)*** => return scaled_X      스케일링 된 데이터
- ***fit_transform(X)*** => return scaled_X  fit(X)와 transform(X)를 같이 수행

학습 데이터로 ***fit_transform()*** 을 하고 test 데이터는 ***transsform()*** 만

In [30]:
# 스케일링 적용
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

---
***KNN***

데이터에 인접한 k 개의 데이터의 결과를 따름

동점일 겨우
- 더 가까운 데이터의 결과 선택
- 임의( random ) 로 선택
- 동점이 생기지 않게 k 값 조정
- ...

In [46]:
# 스케일링 적용 후 모델 학습 및 평가
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train_scaled, y_train)
y_pred_after = knn.predict(X_test_scaled)

print(f"{'predict':<17} {'test':<17} {'compare result'}")
for i in range(len(y_test)) :
    print(f"{y_pred_after[i] :<17} {list(y_test)[i] :<17} => {y_pred_after[i] == list(y_test)[i]}")

accuracy_after = accuracy_score(y_test, y_pred_after)
print("Accuracy after scaling:", accuracy_after)

predict           test              compare result
Iris-versicolor   Iris-versicolor   => True
Iris-setosa       Iris-setosa       => True
Iris-virginica    Iris-virginica    => True
Iris-versicolor   Iris-versicolor   => True
Iris-versicolor   Iris-versicolor   => True
Iris-setosa       Iris-setosa       => True
Iris-versicolor   Iris-versicolor   => True
Iris-virginica    Iris-virginica    => True
Iris-versicolor   Iris-versicolor   => True
Iris-versicolor   Iris-versicolor   => True
Iris-virginica    Iris-virginica    => True
Iris-setosa       Iris-setosa       => True
Iris-setosa       Iris-setosa       => True
Iris-setosa       Iris-setosa       => True
Iris-setosa       Iris-setosa       => True
Iris-versicolor   Iris-versicolor   => True
Iris-virginica    Iris-virginica    => True
Iris-versicolor   Iris-versicolor   => True
Iris-versicolor   Iris-versicolor   => True
Iris-virginica    Iris-virginica    => True
Iris-setosa       Iris-setosa       => True
Iris-virginica    Iris-virginica    => True
Iris-setosa       Iris-setosa       => True
Iris-virginica    Iris-virginica    => True
Iris-virginica    Iris-virginica    => True
Iris-virginica    Iris-virginica    => True
Iris-virginica    Iris-virginica    => True
Iris-virginica    Iris-virginica    => True
Iris-setosa       Iris-setosa       => True
Iris-setosa       Iris-setosa       => True
Iris-setosa       Iris-setosa       => True
Iris-setosa       Iris-setosa       => True
Iris-versicolor   Iris-versicolor   => True
Iris-setosa       Iris-setosa       => True
Iris-setosa       Iris-setosa       => True
Iris-virginica    Iris-virginica    => True
Iris-versicolor   Iris-versicolor   => True
Iris-setosa       Iris-setosa       => True
Iris-setosa       Iris-setosa       => True
Iris-setosa       Iris-setosa       => True
Iris-virginica    Iris-virginica    => True
Iris-versicolor   Iris-versicolor   => True
Iris-versicolor   Iris-versicolor   => True
Iris-setosa       Iris-setosa       => True
Iris-setosa       Iris-setosa       => True
Accuracy after scaling: 1.0

***KNN에서 최적의 k값( n_neighbor )을 구하는 법 중 ... for 사용***

k에 따라서 결과가 달라지기 때문에 k의 값을 적절히 정하는 것이 중요

In [53]:
# 변수 초기화
best_n_neighbors = 1
best_accuracy = 0

# n_neighbors 값을 1부터 20까지 반복하며 모델 성능 평가
for n in range(1, 21):
    # KNN 모델 생성
    knn = KNeighborsClassifier(n_neighbors=n)
    
    # 모델 훈련
    knn.fit(X_train_scaled, y_train)
    
    # 테스트 데이터에 대한 예측
    y_pred = knn.predict(X_test_scaled)
    
    # 정확도 계산
    accuracy = accuracy_score(y_test, y_pred)
    
    # 정확도가 가장 높은 n_neighbors 값 저장
    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_n_neighbors = n
        
    if accuracy == 1 :
        break

# 최적의 n_neighbors 값 출력
print(f"최적의 n_neighbors 값: {best_n_neighbors}")
print(f"최고 정확도: {best_accuracy:.4f}")

최적의 n_neighbors 값: 3
최고 정확도: 1.0000

---
(타이타닉 데이터)

1. 데이터 로딩
    - PassengerId: 승객 ID (고유 식별자)
    - Survived: 생존 여부 (0: 사망, 1: 생존)          ***Y***
    - Pclass: 티켓 등급 (1: 1등석, 2: 2등석, 3: 3등석)
    - Name: 승객 이름
    - Sex: 승객 성별
    - Age: 승객 나이
    - SibSp: 동반한 형제/배우자 수
    - Parch: 동반한 부모/자녀 수
    - Ticket: 티켓 번호
    - Fare: 승객 요금
    - Cabin: 객실 번호
    - Embarked: 승선 항구 (C = 셰르부르, Q = 퀸스타운, S = 사우샘프턴)

In [120]:
file_path = getValidUrl("https://github.com/MyungKyuYi/AI-class/blob/main/titanic.csv")
df = pd.read_csv(file_path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

2. 결측치 확인 => 결측치란 데이터의 값이 설정되어 있지 않은 상황 ( null / na )

In [123]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [125]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

3. 결측치 제거 && 불필요한 컬럼 제거 (Age인 경우 평균나이로)

    제거 방법
   - 삭제 : 결측치가 있는 행 또는 열을 삭제  => ***df.drop(columns=[])***
    - 대체 : 결측치를 평균, 중앙값, 최빈값 등으로 대체 => 평균일 경우 ***df['Column Name'] = df['Column Name'].fillna(df['Column Name'].mean())***
    - 예측 : 머신러닝 모델을 사용하여 결측치를 예측
    - 유지 : 결측치를 그대로 유지하고 분석 방법을 조정

In [128]:
# Name & Ticket & Cabin & Embarked 삭제
df = df.drop(columns=["Name", "Ticket", "Cabin", "Embarked"])

# Age의 빈 값을 평균으로 대체
mid = df['Age'].mean()
df['Age'] = df['Age'].fillna(mid)

df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

4. 레이블( Y ) 확인 (imbalanced data)

일반적인 레이블 불균형 비율

|소수 집단에 속하는 데이터의 비율	| 불균형 정도|
|---------------------|--------|
|데이터 세트의 20 - 40%|    약간|
| 데이터 세트의 1 - 20%|	    보통|
| 데이터 세트의 1% 미만|	익스트림|

레이블 불균형 해결방법
- 오버샘플링 : 소수 레이블의 데이터를 복제하거나 생성하여 데이터 수를 늘림
- 언더샘플링 : 다수 레이블의 데이터를 일부 제거하여 데이터 수를 줄임
- 가중치 조정 : 모델 학습 시 소수 레이블에 더 큰 가중치를 부여하여 학습
- 앙상블 : 다수의 모델을 결합하여 예측 성능을 향상
- ...

In [154]:
print(f"불균형 비율: {df['Survived'].value_counts().min() / len(df):.2f}")
df["Survived"].value_counts()

불균형 비율: 0.38

Survived
0    549
1    342
Name: count, dtype: int64

5. 엔코딩(모든 값을 숫자로 변환)   

df['label'].value_counts()를 변환 전/후

In [161]:
# Label을 숫자로 변환
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

for col in df.columns :
    df[col] = label_encoder.fit_transform(df[col])

df.head()

   PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch  Fare
0            0         0       2    1   28      1      0    18
1            1         1       0    0   52      1      0   207
2            2         1       2    0   34      0      0    41
3            3         1       0    0   48      1      0   189
4            4         0       2    1   48      0      0    43

In [163]:
df["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [193]:
X = df.drop("Survived", axis=1)
y = df["Survived"]

random = 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=random)

# 스케일링 적용
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# DT(Decision Tree)
DT_pred_y = learn_something(DecisionTreeClassifier(random_state=random), X_train, y_train, X_test, y_test)

# RF(Random Forest)
RF_pred_y = learn_something(RandomForestClassifier(random_state=random), X_train, y_train, X_test, y_test)

# SVC(Support Vector Classifier)
SVC_pred_y = learn_something(SVC(random_state=random), X_train, y_train, X_test, y_test)

# LR(LogisticRegression)
LR_pred_y = learn_something(LogisticRegression(random_state=random, max_iter=300), X_train, y_train, X_test, y_test)

# KNN(K-Nearest Neighbor)
KNN_pred_y = learn_something(KNeighborsClassifier(n_neighbors=3), X_train_scaled, y_train, X_test_scaled, y_test)

# def learn_something(model, xTrain, yTrain, xTest, yTest) :
#     model.fit(xTrain, yTrain)
#     y_pred = model.predict(xTest)
#     accuracy = accuracy_score(yTest, y_pred)
#     print(f"{model.__class__.__name__} : {accuracy}")

DecisionTreeClassifier : 0.753731343283582
RandomForestClassifier : 0.8134328358208955
SVC : 0.6977611940298507
LogisticRegression : 0.8097014925373134
KNeighborsClassifier : 0.8022388059701493